@keyframes fadeToTopOpacity {
  0% {
    opacity: 0;
    transform: translate(0, 60px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes fadeToLeftOpacity {
  0% {
    opacity: 0;
    transform: translate(-60px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes fadeToRightOpacity {
  0% {
    opacity: 0;
    transform: translate(60px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes fadeFromTopOpacity {
  0% {
    opacity: 0;
    transform: translate(0, -60px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes fadeFromBottomOpacity {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, -60px);
    display: none;
  }
}
.fadeToTopOpacity {
  animation-name: fadeToTopOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}
.fadeToLeftOpacity {
  animation-name: fadeToLeftOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}
.fadeToRightOpacity {
  animation-name: fadeToRightOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}
.fadeFromTopOpacity {
  animation-name: fadeFromTopOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}
.fadeFromBottomOpacity {
  animation-name: fadeFromBottomOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}
